# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\aitsi\IdeaProjects\ReceptenBoekAchrafAitSiMhand\ReceptenBoekAchrafAitSiMhand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
